{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
<div class="intro-header {% if page.cover-img %} big-img {% endif %}">
  {% if page.title %}
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">          
          {% if include.type == "post" %}   
          <h2>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h2>
          <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>        
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% if page.header-extra %}
  {% for file in page.header-extra %}
    {% include {{ file }} %}
  {% endfor %}
{% endif %}

</header>
